KAFKA_CLUSTER_ID=chatweb-kraft-cluster-001
KAFKA_BROKER_ID=0
KAFKA_INTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_EXTERNAL_PORT=9094
KAFKA_ADVERTISED_HOST=localhost
KAFKA_UI_PORT=8081
KAFKA_TOPIC_CHAT_EVENTS=chat.events
KAFKA_TOPIC_PARTITIONS=12
KAFKA_TOPIC_REPLICATION_FACTOR=1
KAFKA_TEST_DURATION_SECONDS=900
KAFKA_TARGET_MSG_RATE=1000
KAFKA_TARGET_ONLINE_USERS=100000
