KAFKA_CLUSTER_ID=abcdefghijklmnopqrstuv
KAFKA_BROKER_ID=1
KAFKA_INTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8081
KAFKA_EXPORTER_PORT=9308
KAFKA_ADVERTISED_HOST=localhost
KAFKA_TOPIC_CHAT_EVENTS=chat.events
KAFKA_TOPIC_PARTITIONS=12
KAFKA_TOPIC_REPLICATION_FACTOR=1
KAFKA_TEST_DURATION_SECONDS=900
KAFKA_TARGET_MSG_RATE=1000
KAFKA_TARGET_ONLINE_USERS=100000
KAFKA_MOCK_CONSUMER_GROUP=mock-slow-consumer
KAFKA_MOCK_CONSUME_DELAY_SECONDS=0
KAFKA_MOCK_MAX_POLL_RECORDS=500
KAFKA_MOCK_LOG_EVERY_N=10000
KAFKA_MOCK_AUTO_OFFSET_RESET=earliest
